.anual-plan-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_left {
    display: flex;
    align-items: center;

    img {
      width: 2.2rem;
    }
  }

  &_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // min-width: 354px;
  }
}

.vertical-line {
  width: 1px;
  height: 4rem;
  background: #000;
  margin: 0 2rem;
}

.anual-plan-bellow-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_left {
  }

  &_info {
    display: flex;
    margin-left: 10rem;
    margin-top: 2rem;
  }
}

.anual-plan-bellow-top_info div {
  display: flex;
  margin-right: 3rem;

  p:first-child {
    font-weight: 600;
  }
}

.anual-tb {
  margin-top: 1.5rem;
  overflow-x: auto;

  &_wrapper {
    width: max-content;
    max-height: calc(100vh - 32rem);
    overflow: auto;
    min-width: 100%;

    .loader-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      z-index: 123;
      width: 100%;
      height: 100%;
    }
  }

  &_h {
    grid-auto-flow: column;
    display: grid;
    display: -ms-grid;
    padding-top: 2rem;
    // grid-template-columns: minmax(70px, 0.3fr) repeat(6, minmax(100px, 0.8fr)) repeat(
    //     auto-fit,
    //     minmax(80px, 0.5fr)
    //   );
    grid-template-columns: minmax(70px, 0.3fr) repeat(
        var(--tableNum),
        minmax(130px, 0.8fr)
      );
    -ms-grid-columns: minmax(70px, 0.3fr) minmax(100px, 0.8fr)
      minmax(100px, 0.8fr) minmax(100px, 0.8fr) minmax(100px, 0.8fr)
      minmax(100px, 0.8fr) minmax(100px, 0.8fr) minmax(80px, 0.5fr)
      minmax(80px, 0.5fr);
    align-items: center;

    > div {
      position: relative;
    }

    p {
      margin: 0 0.5rem;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #5f7a9f;
      font-weight: 600;
      font-size: 1.4rem;
      // border-bottom: 1px solid #c4c4c3;
      padding-bottom: 1rem;

      &:nth-child(1) {
        -ms-grid-column: 1;
      }

      &:nth-child(2) {
        -ms-grid-column: 2;
      }

      &:nth-child(3) {
        -ms-grid-column: 3;
      }

      &:nth-child(4) {
        -ms-grid-column: 4;
      }

      &:nth-child(5) {
        -ms-grid-column: 5;
      }

      &:nth-child(6) {
        -ms-grid-column: 6;
      }

      &:nth-child(7) {
        -ms-grid-column: 7;
      }

      &:nth-child(8) {
        -ms-grid-column: 8;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    .house-nmb {
      color: #0f2238;
    }

    .status {
      color: #0f2238;
      cursor: pointer;
    }
  }

  &_b {
    width: 100%;

    &_inner {
      grid-auto-flow: column;
      display: grid;
      display: -ms-grid;
      // grid-template-columns: minmax(70px, 0.3fr) repeat(6, minmax(100px, 0.8fr)) repeat(
      //     2,
      //     minmax(80px, 0.5fr)
      //   );
      grid-template-columns: minmax(70px, 0.3fr) repeat(
          var(--tableNum),
          minmax(130px, 0.8fr)
        );
      -ms-grid-columns: minmax(70px, 0.3fr) minmax(100px, 0.8fr)
        minmax(100px, 0.8fr) minmax(100px, 0.8fr) minmax(100px, 0.8fr)
        minmax(100px, 0.8fr) minmax(100px, 0.8fr) minmax(80px, 0.5fr)
        minmax(80px, 0.5fr);
      height: 5rem;

      div:nth-child(1) {
        -ms-grid-column: 1;
      }
      div:nth-child(2) {
        -ms-grid-column: 2;
      }
      div:nth-child(3) {
        -ms-grid-column: 3;
      }
      div:nth-child(4) {
        -ms-grid-column: 4;
      }
      div:nth-child(5) {
        -ms-grid-column: 5;
      }
      div:nth-child(6) {
        -ms-grid-column: 6;
      }
      div:nth-child(7) {
        -ms-grid-column: 7;
      }
      div:nth-child(8) {
        -ms-grid-column: 8;
      }
      div:nth-child(9) {
        -ms-grid-column: 9;
      }
      div:nth-child(10) {
        -ms-grid-column: 10;
      }
      div:nth-child(11) {
        -ms-grid-column: 11;
      }
      div:nth-child(12) {
        -ms-grid-column: 12;
      }
      div:nth-child(13) {
        -ms-grid-column: 13;
      }
      div:nth-child(14) {
        -ms-grid-column: 14;
      }
      div:nth-child(15) {
        -ms-grid-column: 15;
      }

      &:nth-child(even) {
        background: rgba(229, 229, 229, 0.3);
      }

      input {
        width: 65%;
        height: 75%;
        margin-left: 10px;
        padding-left: 1rem;
        font-size: 1.6rem;
        font-weight: 600;
      }

      * {
        display: flex;
        align-items: center;
      }

      img {
        margin: 0 1rem;
        justify-content: space-between;
        // padding: 0 1rem;
      }

      div {
        height: inherit;
        border-right: 1px solid #e6e7e8;
        border-bottom: 1px solid #e6e7e8;

        &:last-child {
          justify-content: center;
          border-right: 1px solid #e6e7e8 !important;
          border-bottom: 1px solid #e6e7e8 !important;
        }
      }
    }

    p {
      font-family: Roboto Condensed;
      font-style: normal;
      font-weight: bold;
      font-size: 1.6rem;
    }

    &_house-nm {
      font-size: 2rem;
      font-weight: 600;
      border-right: 3px solid #c4c4c3 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid #e6e7e8;
    }

    &_status {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .date {
        font-family: Roboto Condensed;
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        color: #87919c;
      }
    }

    &_actions {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      border: none !important;
      position: sticky;
      right: 0;
      top: 0;
    }

    &.quote-cell > p:first-child {
      margin-left: 1rem;
    }
  }
}

p.publish {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 19px;
  color: #e95037;
  cursor: pointer;
}

p.disabled-publish {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 19px;
  // padding: 6rem;
  color: #aaafb4;
  cursor: pointer;
}

p.disabled-publish:hover {
  cursor: not-allowed;
}

p.plan-incomolete {
  font-family: Roboto Condensed;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #5f7a9f;
}

p.published {
  font-family: Roboto Condensed;
  font-style: italic;
  font-weight: 600;
  font-size: 1.6rem;
  color: #e9a237;
  text-transform: capitalize;
}

p.confirmed {
  font-family: Roboto Condensed;
  font-style: italic;
  font-weight: 600;
  font-size: 1.6rem;
  color: #008937;
  text-transform: capitalize;
}

p.plan-incomplete {
  font-family: Roboto Condensed;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #5f7a9f;
}

p.draft {
  font-family: Roboto Condensed;
  font-style: italic;
  font-weight: 600;
  font-size: 1.6rem;
  // color: #0f2238;
  color: #5f7a9f;
  text-transform: capitalize;
}

p.dollar-sign {
  font-size: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #87919c;
}

p.confirmed-cell-inner {
  padding-left: 1rem;
  font-size: 16px;
}

.confirmed-row {
  background: rgba(81, 231, 96, 0.21) !important;

  img {
    width: 1.8rem;
  }

  .anual-tb_b_status {
    p {
      color: #008937;
      font-style: italic;
      font-weight: bold;
    }
  }

  .anual-tb_b_actions {
    img {
      cursor: pointer;
    }
  }
}

.price-x {
  p {
    font-weight: normal;
    color: #5f7a9f;
  }

  img {
    width: 1.4rem;
  }
}

.dropdown-edit {
  padding: 2rem;
  position: absolute;
  width: 280px;
  top: 30px;
  // left: 30px;
  background: #fff;
  border: 1px solid #d8d8d8;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;

  p {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    border: none;
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    img {
      cursor: pointer;
    }

    h1 {
      font-family: Roboto Condensed;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      color: #0f2238;
    }
  }

  &_descrption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;

    textarea {
      min-height: 100px;
      width: 100%;
      background: #ffffff;
      box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 3px;
      border: none;
      padding: 0.7rem;
      font-family: Roboto Condensed;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
    }
  }

  &_expected-range {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;

    input {
      width: 100%;
      font-family: Roboto Condensed;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      border: 1px solid #ffffff;
      padding: 1rem;
    }
    input[type='date']::-webkit-calendar-picker-indicator {
      color: rgba(0, 0, 0, 0);
      opacity: 1;
      display: block;
      background: url(../../assets/calendar-orange.svg) no-repeat;
      width: 20px;
      height: 20px;
      background-position: right;
      cursor: pointer;
    }
  }

  &_bulk-range {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    p {
      padding: 0;
    }
    .ToggleSwitch__rounded {
      margin-right: 12px;
    }
    .Slider:before {
      background: #142236 !important;
    }
  }

  &_amount {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 4rem;
    margin-bottom: 2rem;

    p {
      padding: 0;
      margin-right: 2rem;
      font-size: 2.3rem;
      color: #87919c;
    }
    input {
      height: 100%;
      font-size: 1.6rem;
      width: 50%;
      padding-left: 1rem;
      text-align: center;
      line-height: 16px;
      color: #333333;
    }
  }

  &_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      color: #e95037;
      margin-left: 30px;
      padding: 0;
    }
  }
}

.ptc {
  position: fixed;
  right: 0;
  top: 60px;
  background: #ffffff;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 3rem;
  width: 500px;
  max-width: 100%;
  z-index: 9;
  height: calc(100vh - 60px);
  overflow-y: auto;
  right: -500px;
  opacity: 0;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  overflow: hidden;

  &_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &_top-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 90%;
  }

  &_bottom-content {
    margin-top: 2rem;
    flex: 1;
    display: flex;
    align-items: flex-end;
    height: 10%;
  }

  &_arrow {
    padding-top: 2rem;
    cursor: pointer;
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;

    h1 {
      font-family: Roboto Condensed;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      color: #0f2238;
    }
    img {
      padding: 5px;
      cursor: pointer;
    }
  }

  &_search {
    &_wrapper {
      position: relative;
      margin-bottom: 1.5rem;
      input {
        width: 100%;
        font-size: 1.6rem;
        padding-left: 45px;
      }

      img {
        position: absolute;
        left: 10px;
        top: 12px;
        width: 2rem;
      }
    }
  }

  &_table {
    margin-top: 2rem;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    &_header {
      display: flex;
      justify-content: space-between;
      min-height: 43px;
      align-items: center;
      position: relative;
      position: sticky;
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -ms-sticky;
      position: -o-sticky;
      top: 0;
      background: #fff;
      z-index: 1;

      &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 120%;
        background: #c4c4c3;
        bottom: 0;
        left: -10%;
      }

      &_left {
        display: flex;
        align-items: center;
      }
    }

    &_body {
      height: initial;
      &_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 43px;
        background: #fff;
        width: 105%;
        margin-left: -2.5%;
        padding: 2.5%;

        &:nth-child(even) {
          background: #f7f7f8;
        }

        &_left {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }
}

.slide-in {
  opacity: 1;
  right: 0;
}

h1.homeowner-name {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-left: 3rem;
  padding-right: 1rem;
}

.properties-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_search {
    display: flex;
    align-items: center;
    flex: 0 0 50%;

    &__active {
      display: flex;
      align-items: center;
      margin-left: 3rem;

      p {
        margin-left: 1rem;
      }
    }
  }

  &_right {
    display: flex;
    align-items: center;
  }

  &_drowdown {
    margin-left: 3rem;
    position: relative;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 3px;
    background-color: #e95037;
    color: #fff;
    z-index: 1;
    p,
    a {
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1;
      padding: 0 20px;
      font-weight: 400;
    }
    img {
      width: 3.5rem;
      height: 4.4rem;
      padding: 0 1rem;
    }

    &_active {
      position: absolute;
      top: 5rem;
      width: 100%;
      border: 1px solid #f1efef;
      border-radius: 3px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
      color: black;

      p,
      a {
        padding: 2rem 3rem 2rem 0rem;
        border-bottom: 1px solid #e6e7e8;
        text-align: left;

        &:hover {
          background: #fbfbfb;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}

.properties-list {
  padding-top: 3.5rem;

  &_header {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 0.7fr 1fr 1.3fr repeat(3, 0.5fr) repeat(4, 1fr);
    -ms-grid-columns: 0.7fr 1fr 1.3fr 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr 1fr;
    margin-bottom: 1.5rem;

    // Internet Explorer Support
    p:nth-child(1) {
      -ms-grid-column: 1;
    }
    p:nth-child(2) {
      -ms-grid-column: 2;
    }
    p:nth-child(3) {
      -ms-grid-column: 3;
    }
    p:nth-child(4) {
      -ms-grid-column: 4;
    }
    p:nth-child(5) {
      -ms-grid-column: 5;
    }
    p:nth-child(6) {
      -ms-grid-column: 6;
    }
    p:nth-child(7) {
      -ms-grid-column: 7;
    }
    p:nth-child(8) {
      -ms-grid-column: 8;
    }
    p:nth-child(9) {
      -ms-grid-column: 9;
    }
    p:nth-child(10) {
      -ms-grid-column: 10;
    }
    // Internet Explorer Support

    p {
      color: #0f2238;
      font-weight: 600;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .toggle-arrow-up {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}

.styled-checkbox {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    font-size: 1.4rem;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
  }

  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  }

  &:checked + label:before {
    background: #fff;
  }

  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: #e95037;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #e95037, 4px 0 0 #e95037, 4px -2px 0 #e95037,
      4px -4px 0 #e95037, 4px -6px 0 #e95037, 4px -8px 0 #e95037;
    transform: rotate(45deg);
  }
}
