.file_drop {
    &__dropzone {
        cursor: pointer;
        display: block;
        width: 100%;
        padding: 5rem;
        text-align: center;
        border: dashed 2px #e95036;
        margin-bottom: 1rem;
        color: #e95036;
        text-transform: uppercase;

        p {
            pointer-events: none;
            margin: 0 !important;
            font-size: 2rem;
        }

        &.hovering {
            border: dashed 2px #0d2137;
            color: #0d2137;
        }
    }

    &__preview {
        border: solid 1px #eaeaea;
        padding-top: 1rem;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom: none;
        background-color: #f4f4f4;

        p {
            margin: 1rem 2rem;
            font-weight: bold;
        }

        &__container {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 20px;
            padding: 10px;
            
            &__image {
                position: relative;
        
                &__delete {
                    position: absolute;
                    color: #e95036;
                    top: 0;
                    left: 20px;
                    background-color: white;
                    padding: .3rem;
                    border-radius: 50%;
                    width: 25px !important;
                    height: 25px !important;
                    cursor: pointer;
    
                    &:hover {
                        background-color: #e95036;
                        color: white;
                    }
                }

                &__previewImage {
                    width: 100%;
                }
            }
        }
    }

    &__uploader {
        position: relative;
        border: solid 1px #eaeaea;
        padding: .3rem;
        text-align: center;
        margin-bottom: 1rem;
        border-radius: 10px;

        .bar {
            z-index: 0;
            position: absolute;
            background-color: #e95036;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 10px;
        }

        span {
            font-weight: bold;
            font-size: 1.5rem;
            z-index: 1;
            position: relative;

            &.over_half {
                color: white;
            }
        }
    }

    button {
        margin-bottom: 1rem;
    }
}